parameters:
    level: 7
    paths:
        - app
        - database
        - routes
    excludePaths:
        - bootstrap
        - storage
        - vendor
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
